# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# IDE stuff
.vscode/
.idea/

# Environment variables
.env

# Node.js / Frontend
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log
dist/
build/
.next/
coverage/